<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset  Password</title>
</head>
<body>
    <h1>Reset  password</h1>
{% if validlink %}
<p>Please enter your new password </p>
<form action="." method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Change my password" /></p>
</form>

{% else %}
<p>The password reset link is invalid, . Please request a new password reset.</p>
{% endif %}


</body>
</html>